<%= form_for @experience do |f| %>
<%= render "partials/error_messages", :target => @experience %>
<div class="form-container">

  <%= f.label :title, 'Title' %>
  <%= f.text_field :title, :required => true, :maxlength => 120, :minlenght => 8 %>

  <%= f.label :company, 'Company' %>
  <%= f.text_field :company, :required => true, :maxlength => 120, :minlenght => 8 %>

  <%= f.label :details, 'Details' %>
  <%= f.text_field :details, :required => true, :maxlength => 120, :minlenght => 8 %>

  <%= f.label :intro, 'Intro (max 220 characters)' %>
  <%= f.text_area :intro, :required => true,  :maxlength => 220, :minlenght => 90 %>

  <%= f.label :body, 'Content' %>
  <%= f.text_area :body, :required => true, :maxlength => 1600, :minlenght => 300 %>

</div>

<% if current_page?(action: 'new') %>
  <%= f.submit 'Publish', :class => 'cta cta-small' %>
<% end %>
<% if current_page?(action: 'edit') %>
  <%= f.submit 'update', :class => 'cta cta-small' %>
<% end %>
<%= link_to 'Cancel', experiences_path, :class => 'cta cta-small cta-danger' %>

<% end %>
