<div class="navbar-container">
  <h1 class="logo-container"><%= link_to 'Romain Mosser', root_path %></h1>
  <div class="navlinks-container">
    <nav>
      <ul>
        <li><%= link_to 'Experience', experiences_path, :class => current_class?('/experiences') %></li>
        <li><%= link_to 'Education', pages_education_path, :class => current_class?('/pages/education') %></li>
        <li><%= link_to 'Projects', pages_projects_path, :class => current_class?('/pages/projects') %></li>
        <li><%= link_to 'Skills', pages_skills_path, :class => current_class?('/pages/skills') %></li>
        <li><%= link_to 'Approach', pages_approach_path, :class => current_class?('/pages/approach') %></li>
        <li><%= link_to 'Contact', pages_contact_path, :class => current_class?('/pages/contact') %></li>
      </ul>
    </nav>
    <div class="social-links-container">
      <ul>
        <li><%= link_to image_tag('icons/twitter-icon.svg'), 'https://twitter.com/moromain', target: "_blank" %></li>
        <li><%= link_to image_tag('icons/linkedin-icon.svg'), 'https://www.linkedin.com/in/romain-mosser-a9680367/', target: "_blank" %></li>
      </ul>
    </div>
  </div>
</div>
