<nav>
  <ul>
    <li><h1><%= link_to 'Romain Mosser', root_path %></h1></li>
    <li><%= link_to 'Experience', pages_experience_path %></li>
    <li><%= link_to 'Education', pages_education_path %></li>
    <li><%= link_to 'Projects', pages_projects_path %></li>
    <li><%= link_to 'Skills', pages_skills_path %></li>
    <li><%= link_to 'Approach', pages_approach_path %></li>
    <li><%= link_to 'Contact', pages_contact_path %></li>
  </ul>
</nav>
